.current_weather {
  display: grid;

  padding-left: 40px;

  font-weight: bold;

  @media #{$information_desktop} {
    font-size: 1.375rem;

    grid-column: 1;
    grid-row: 3;
    grid-template-columns: 400px auto;
    grid-template-rows: 200px 25px 25px 25px auto;
  }

  @media #{$information_tablets} {
    font-size: 1rem;

    grid-column: 1;
    grid-row: 3;
    grid-template-columns: 300px auto;
    grid-template-rows: 200px 25px 25px 25px auto;
  }

  @media #{$information_mobile} {
    padding-left: 10px;

    grid-row: 3;
    grid-template-columns: 160px auto;
    grid-template-rows: 200px 25px 45px 25px 45px;
  }

  * {
    margin: 0;
    padding: 0;

    text-transform: uppercase;;
  }

  &-temp {
    font-weight: bold;

    text-align: center;

    grid-column: 1;
    grid-row: 1 / span 5;
    @media #{$information_desktop} {
      font-size: 16.25rem;
    }
    @media #{$information_tablets} {
      font-size: 13.25rem;
    }
    @media #{$information_mobile} {
      padding-top: 50px;

      font-size: 9rem;
    }
  }

  &-pict {
    grid-column: 2;
    grid-row: 1;

    @media #{$information_desktop} {
      width: 200px;
    }
    @media #{$information_tablets} {
      width: 160px;
    }
    @media #{$information_mobile} {
      width: 140px;
    }
  }

  &-type {
    grid-column: 2;
    grid-row: 2;
    justify-self: start;
  }

  &-feels_like {
    grid-column: 2;
    grid-row: 3;
    justify-self: start;
  }

  &-wind {
    grid-column: 2;
    grid-row: 4;
    justify-self: start;
  }

  &-humidity {
    grid-column: 2;
    grid-row: 5;
    justify-self: start;
  }
}
