.future_weather {
  display: grid;

  margin-bottom: 50px;
  padding-left: 40px;

  grid-column: 1;
  grid-row: 4;
  grid-template-columns: 33% 33% 33%;

  @media #{$information_mobile} {
    padding-left: 10px;
  }
}

.weather_block {
  display: grid;

  height: 110px;

  grid-template-columns: 90px 70px;
  grid-template-rows: 30px 50px auto;
  
  @media #{$information_mobile} {
    grid-template-columns: 50px 50px;
    grid-template-rows: 30px 50px auto;
  }

  &-day_of_week {
    font-size: 1.375rem;
    font-weight: bold;

    text-transform: uppercase;

    grid-row: 1;

    @media #{$information_mobile} {
      font-size: 0.8rem;
    }
  }

  &-temp {
    font-size: 5rem;
    font-weight: 600;

    grid-column: 1;
    grid-row: 2 / span 3;

    @media #{$information_mobile} {
      font-size: 1.8rem;
    }
  }

  &-pict {
    grid-column: 2;
    grid-row: 2;
  }
}

.first_day {
  grid-column: 1;
}

.second_day {
  grid-column: 2;
}

.third_day {
  grid-column: 3;
}
