.map_block {
  display: grid;

  box-sizing: border-box;

  font-size: 1.25rem;
  font-weight: 600;

  text-transform: uppercase;

  grid-column: 2;
  grid-row: 3 / span 4;
  grid-template-rows: 400px 50px 50px;

  @media #{$information_desktop} {
    padding-right: 90px;
    padding-left: 250px;
  }

  @media #{$information_tablets} {
    padding-right: 20px;
    padding-left: 10px;
    grid-template-rows: 340px 50px 30px;
  }

  @media #{$information_mobile} {
    display: none;
  }
  
  &-map {
    border-radius: 45px;
    background-color: cadetblue;

    grid-row: 1;
  }

  &-latitude {
    padding-top: 20px;
    grid-row: 2;
    justify-self: right;
  }

  &-longitude {
    grid-row: 3;
    justify-self: right;
  }
}
