.menu {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: 0 40px 0 40px;

  font-size: 0.875rem;
  font-weight: bold;

  grid-column: 1 / span 2;
  grid-row: 1;

  @media #{$information_mobile} {
    display: grid;

    padding: 0 10px 0 10px;

    grid-template-columns: 50px 150px auto;
    grid-template-rows: 50px 50px;
  }


  * {
    height: 44px;
    padding: 0;

    border: none;
    outline: none;

    text-transform: uppercase;
  }

  &-refresh_background, &-language_selector, &-search_btn, &-search_input {
    &:hover {
      background-color: rgba(228, 217, 157, 0.253);

      transition-duration: 1s;
    }
  }

  &-refresh_background, &-language_selector, &-search_btn {
    &:active {
      box-shadow: inset 0px 0px 5px #c1c1c1;
      margin: 6px 10px 2px 10px;
    }
  }

  &-refresh_background {
    width: 44px;

    border-radius: 7px;
    background: url("../images/refresh.png") no-repeat center;
  }

  &-language_selector {
    width: 71px;
    margin-left: 10px;
    padding: 0 0 0 25px;

    border-radius: 7px;
    background-color: rgba(174, 181, 185, 0.5);
    // remove arrow

    -webkit-appearance: none;
       -moz-appearance: none;

    option {
      background-color: rgba(174, 181, 185, 0.5);
    }
  }

  &-temp_changer {
    position: relative;

    display: flex;

    width: 88px;
    margin-left: 10px;

    border-radius: 7px;
    background-color: rgba(76, 82, 85, 0.4);

    cursor: pointer;

    * {
      box-sizing: border-box;
      width: 44px;
    }

    &-celsius, &-fahrenheit {
      padding-top: 13px;

      text-align: center;
    }

    &-celsius {
      border-radius: 0 7px 7px 0;
    }

    &-fahrenheit {
      border-radius: 7px 0 0 7px;
    }

    &-current {
      position: absolute;
      right: 0;

      border-radius: 0 7px 7px 0;
      background-color: rgba(0, 255, 255, 0.432);

      animation: tempChangeRight 0.5s linear 0s 1 alternate both;

      &--fahrenheit {
        animation: tempChangeLeft 0.5s linear 0s 1 alternate both;
      }

      &--no_animation {
        animation: none;
      }
    }

    @keyframes tempChangeLeft {
      from {
        right: 0;

        border-radius: 0 7px 7px 0;
      }
      25% {
        right: 20px;

        border-radius: 0 7px 7px 0;
      }
      35%, 65% {
      }
      75% {
        right: 24px;

        border-radius: 7px 0 0 7px;
      }
      100% {
        right: 44px;

        border-radius: 7px 0 0 7px;
      }
    }

    @keyframes tempChangeRight {
      from {
        right: 44px;

        border-radius: 7px 0 0 7px;
      }
      25% {
        right: 24px;

        border-radius: 7px 0 0 7px;
      }
      35%, 65% {
      }
      75% {
        right: 20px;

        border-radius: 0 7px 7px 0;
      }
      100% {
        right: 0px;

        border-radius: 0 7px 7px 0;
      }
    }
  }

  &-search_block {
    position: relative;
    margin-left: auto;

    @media #{$information_mobile} {
      grid-column: 1 /span 3;
      grid-row: 2;
    }

  }

  &-search_input {
    width: 274px;
    // margin-left: auto;
    padding: 0 10px;

    border-radius: 7px 0 0 7px;
    background: rgba(76, 82, 85, 0.4);

    text-align: center;

    &::placeholder {
      color: white;
    }

    @media #{$information_mobile} {
      width: 215px;
    }
  }

  &-search_btn {
    width: 101px;

    border-radius: 0 7px 7px 0;
    background: rgba(174, 181, 185, 0.5);

    @media #{$information_mobile} {
      width: 65px;
      justify-self: right;
    }
  }

  &-search_speech {
    position: absolute;

    width: 44px;

    background: url('../images/microphone.svg') center no-repeat;
    border-radius: 100%;

    right: 110px;

    &:active {
      animation: MicPushed 1s linear 0s 1 alternate both;

    }

    @media #{$information_mobile} {
      right: 60px;
    }
  }

  @keyframes MicPushed {
    from {
      background-color: transparent;
    }
    
    100% {
      background-color: aqua;
      
    }
  }
}
