.menu {
  display: flex;

  box-sizing: border-box;
  width: 100%;
  padding: 0 40px 0 40px;

  font-size: 0.875rem;
  font-weight: bold;

  grid-column: 1 / span 2;
  grid-row: 1;


  * {
    height: 44px;
    padding: 0;

    border: none;
    outline: none;

    text-transform: uppercase;
  }

  &-refresh_background, &-language_selector, &-temp_changer, &-search_btn, &-search_input {
    &:hover {
      background-color: rgba(228, 217, 157, 0.253);

      transition-duration: 1s;
    }
  }

  &-refresh_background {
    width: 44px;

    border-radius: 7px;
    background: url("../images/refresh.png") no-repeat center;
  }

  &-language_selector {
    width: 71px;
    margin-left: 10px;
    padding: 0 0 0 25px;

    border-radius: 7px;
    background-color: rgba(174, 181, 185, 0.5);
    // remove arrow

    -webkit-appearance: none;
       -moz-appearance: none;

    option {
      background-color: rgba(174, 181, 185, 0.5);
    }
  }

  &-temp_changer {
    position: relative;

    display: flex;

    width: 88px;
    margin-left: 10px;

    border-radius: 7px;
    background-color: rgba(76, 82, 85, 0.4);

    cursor: pointer;

    * {
      box-sizing: border-box;
      width: 44px;
    }

    &-celsius, &-fahrenheit {
      padding-top: 13px;

      text-align: center;
    }

    &-celsius {
      border-radius: 0 7px 7px 0;
    }

    &-fahrenheit {
      border-radius: 7px 0 0 7px;
    }

    &-current {
      position: absolute;
      right: 0;

      border-radius: 0 7px 7px 0;
      background-color: rgba(0, 255, 255, 0.432);

      &--fahrenheit {
        animation: tempChange 0.5s linear 0s 1 alternate both;
      }
    }

    @keyframes tempChange {
      from {
        right: 0;
      }
      25% {
        right: 20px;
      }
      50% {
        border-radius: 7px 0 0 7px;
      }
      75% {
        right: 24px;

        border-radius: 7px 0 0 7px;
      }
      100% {
        right: 44px;

        border-radius: 7px 0 0 7px;
      }
    }
  }

  &-search_input {
    width: 274px;
    margin-left: auto;

    border-radius: 7px 0 0 7px;
    background: rgba(76, 82, 85, 0.4);

    text-align: center;
  }

  &-search_btn {
    width: 101px;

    border-radius: 0 7px 7px 0;
    background: rgba(174, 181, 185, 0.5);
  }
}
