
.pic_01 {
  background: url("../images/01.svg") no-repeat center;
}
.pic_02 {
  background: url("../images/02.svg") no-repeat center;
}
.pic_03 {
  background: url("../images/03.svg") no-repeat center;
}
.pic_04 {
  background: url("../images/04.svg") no-repeat center;
}
.pic_09 {
  background: url("../images/09.svg") no-repeat center;
}
.pic_10 {
  background: url("../images/10.svg") no-repeat center;
}
.pic_11 {
  background: url("../images/11.svg") no-repeat center;
}
.pic_13 {
  background: url("../images/13.svg") no-repeat center;
}
.pic_50 {
  background: url("../images/50.svg") no-repeat center;
}
