@import "./abstract/media.scss";
@import "./menu";
@import "./currentWeather";
@import "./mapBlock";
@import "./futureWeather";
@import "./weatherIcon";
@import "./abstract/fonts";
@import "./datePosition";


body {
  background-color: rgb(197, 194, 194);
}

.main {
  display: grid;

  box-sizing: border-box;
  margin: auto;
  padding-top: 20px;

  background-size: cover;


  @media #{$information_desktop} {
    width: 1400px;

    grid-template-columns: 700px auto;
    grid-template-rows: 50px 100px 380px 150px;
  }
  @media #{$information_tablets} {
    width: 940px;

    grid-template-columns: 550px;
    grid-template-rows: 50px 100px 380px 150px;
  }
  @media #{$information_mobile} {
    width: 320px;

    grid-template-rows: 100px 100px 380px 150px;
  }


  * {
    font-family: "Montserrat", sans-serif;

    color: white;
  }
}
