@import "./menu";
@import "./currentWeather";
@import "./mapBlock";
@import "./futureWeather";
@import "./weatherIcon";
@import "./abstract/fonts";

.main {
  display: grid;

  width: 1400px;
  margin: auto;
  padding-top: 20px;

  background-color: rgb(122, 120, 120);

  grid-template-columns: 650px auto;
  grid-template-rows: 50px 100px 380px 150px;

  * {
    font-family: "Montserrat", sans-serif;

    color: white;
  }
}
